{% extends 'layout/app-layout.html'%}
{% block 'content' %}
    <h1 style="color:red">Your Journey to Better Health</h1>
    <p>our mission is to empower individuals to take control of their health and achieve their weight loss goals through personalized tools, expert advice, and a supportive community. We believe that sustainable weight management is about more than just numbers on a scale—it's about fostering a healthy lifestyle and building habits that last a lifetime. Our platform offers intuitive tracking features, science-backed tips, and a welcoming space where users can connect, share experiences, and celebrate their progress. Join us on this journey to a healthier, happier you!</p>
{% endblock %}